#board{
    position: relative;
	width: 800px;
        height: 800px;
}

.cell{
    box-sizing: border-box;
	background-color: #04f;
    position: absolute;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}
.numbers{
	width:50px
}
